// Navigation code here

.navbar{
    .flexing(column,space-around,center);
    width:100%;


    &__logo{
        
        font-size:3.5rem;
        padding:3vh 0;
    }

    &__list{
        .flexing(row,space-around,center);
        padding-bottom:3vh;
        width:30vw;
        @media @tablet{
            width:60vw;
        }
        @media @mobile{
            width:85vw;
        }
        
    }

    &__items a{
        color: @river-bend;
        text-decoration: none;
    }
}